.sideBar {
    background: #142D52;
    min-height: 100vh;
}
.col {
    padding: 0!important;
}
.logo {
    position: relative;
    left: 25%;
}
.line {
    border: 1px solid #06BF97;
    /* margin: 0 60px; */
    max-width: 200px;
}

.carton{
    width: 200px;
    display: flex;
    justify-content: center;
}
.sidebar-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

